<div class="central-1 wx" id="app">
    <!-- 导航 -->
    <div class="bwizard clearfix text-center">
        <ol class="bwizard-steps clearfix clickable">
            <li style="width: 150px;">
                <a href="#step1" class="hidden-phone">选择课程</a>
            </li>
            <li style="width: 150px;" class="active">
                <a href="#step2" class="hidden-phone">选择题目</a>
            </li>
            <li style="width: 150px;">
                <a href="#step3" class="hidden-phone">设置班级</a>
            </li>
        </ol>
    </div>

    <div class="input-1">
        <b>题目选择：</b>

        <a href="taskCenterSelect2-1.html" class="btn btn-primary">题库选题</a>

        <span class="right" style="margin-right:60px">
            <b>作业总分：<span class="red">{{totalNum}}</span></b>
        </span>
    </div>
    <form>
        <template v-for="item in list">
            
            <div class="table-list"  >
                <table class="picture-one w100">
                    <th>{{item.text}}</th>
                    <th>题目数量：<input type="number" :value="item.subNum.length" disabled="disabled" placeholder="2"></th>
                    <th>批量设置：<input class="bgwhite" @keyup="allNum(item.num,item.subNum,item)" v-model="item.num" type="number"> 分</th>
                    <th>题目总分  <span class="red">{{item.totalNum}}</span>分</th>
                    <th><a @click="item.toggle = !item.toggle" href="javascript:void(0);">{{item.toggle?'收起':'展开'}}</a></th>
                </table>
                <div  :class="{'hide':!item.toggle}" role="tabpanel">
                    <table class="picture-two "   >
                        <tr v-if="item.subNum.length!==0">
                            <th>序号</th>
                            <th>题干</th>
                            <th>分值</th>
                            <th>难易度</th>
                            <th>操作</th>
                        </tr>

                        <template v-for="(sub,index) in item.subNum">
                            <tr>
                                <td>{{index+1}}</td>
                                <td>{{sub.text}}</td>
                                <td><input @keyup="computedTotal(item,item.subNum)" v-model="sub.num" class="bgwhite" type="number"></td>
                                <td>{{sub.rank}}</td>
                                <td><a @click="item.subNum.splice(index,1),computedTotal(item,item.subNum)" href="javascript:void(0);">移除</a></td>
                            </tr>
                        </template>
                    </table>
                </div>
            </div>

        </template>

            
        <!-- taskCenterSelect3.html -->
        <div class="picturep-bu">
            <a href="javascript:;history.back()" class="btn btn-primary">上一步</a>
            <a @click="submitNum($event)" href="taskCenterSelect3.html" class="btn btn-primary pull-right">保存，下一步</a>
                    <button href="taskCenter.html"><button class="btn btn-primary" style="width:150px;">保存，暂不发布</button></button> 
        </div>
    </form>
</div>