


<div class="central-1 wx" id="app">
        <div class="nohigh qq">
                <table class="table biger-table2">
                    <tbody>
                        <tr>
                            <td width="100px">练习名称：</td>
                            <td class="text-left"><input class="form-control" style="width:300px;" type="text"></td>
                        </tr>
                        <tr>
                            <td>选择课程：</td>
                            <td class="text-left">
                                <select class="form-control" style="width:300px;height: auto" name="city">
                                    <option value="">选择课程</option>
                                    <option value="">货代与报关</option>
                                    <option value="">数学</option>
                                    <option value="">创库配送</option>
                                    <option value="">运输管理</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>选择单元：</td>
                            <td class="text-left">
                                <div class="btnlist">
                                    <template v-for="(item,index) in arr" v-if="selectArr[index] && arrSubmit">
                                        <span :class="['btn','btn-round','btn-default','btn-primary']">{{item}}</span>
                                    </template>
                                </div>
                                <a data-toggle="modal" data-target="#mystery" href="#">选择单元</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <div class="input-1">
            <b>题目选择：</b>
    
            <a href="taskCenter2-4.html" class="btn btn-primary">题库选题</a>
    
            <span class="right" style="margin-right:60px">
                <b>作业总分：<span class="red">{{totalNum}}</span></b>
            </span>
        </div>
        <form>
            <template v-for="item in list">
                
                <div class="table-list"  >
                    <table class="picture-one w100">
                        <th>{{item.text}}</th>
                        <th>题目数量：<input type="number" :value="item.subNum.length" disabled="disabled" placeholder="2"></th>
                        <th>批量设置：<input class="bgwhite" @keyup="allNum(item.num,item.subNum,item)" v-model="item.num" type="number"> 分</th>
                        <th>题目总分  <span class="red">{{item.totalNum}}</span>分</th>
                        <th><a @click="item.toggle = !item.toggle" href="javascript:void(0);">{{item.toggle?'收起':'展开'}}</a></th>
                    </table>
                    <div  :class="{'hide':!item.toggle}" role="tabpanel">
                        <table class="picture-two "   >
                            <tr v-if="item.subNum.length!==0">
                                <th>序号</th>
                                <th>题干</th>
                                <th>分值</th>
                                <th>难易度</th>
                                <th>操作</th>
                            </tr>
    
                            <template v-for="(sub,index) in item.subNum">
                                <tr>
                                    <td>{{index+1}}</td>
                                    <td>{{sub.text}}</td>
                                    <td><input @keyup="computedTotal(item,item.subNum)" v-model="sub.num" class="bgwhite" type="number"></td>
                                    <td>{{sub.rank}}</td>
                                    <td><a @click="item.subNum.splice(index,1),computedTotal(item,item.subNum)" href="javascript:void(0);">移除</a></td>
                                </tr>
                            </template>
                        </table>
                    </div>
                </div>
    
            </template>
    
                
            <!-- taskCenterSelect3.html -->
            <div class="picturep-bu">
                <a href="javascript:;history.back()" class="btn btn-primary pull-right">取消</a>
                <a @click="submitNum($event)" href="taskCenter2-2.html" class="btn btn-primary pull-left">保存，并返回列表</a>
            </div>
        </form>

                <!-- 选择单元窗口 -->
        <div class="update_modal">
            <div class="modal fade" id="mystery" tabindex="-1" role="dialog" aria-labelledby="mystery">
                <div class="analog">
                    <div class="analog-one">
                        <button type="button" class="close close-one" data-dismiss="modal">x</button>
                        <b>选择单元（可多选）</b>
                    </div>
                    <div class="analog-three-in" id="toggle">
                            <!-- btn-primary -->
                        <template v-for="(item,index) in arr">
                            <span @click="arrToggle(index,item)" :class="['btn','btn-round','btn-default',{'btn-primary':selectArr[index]}]">{{item}}</span>
                        </template>

                        <span @click="arrToggleAll" :class="['btn' ,'btn-round', 'btn-default', 'select-all',{'btn-primary': selectAll }]">全选</span>


                        <div class="text-center">
                            <button @click="arrSubmit = true" type="button" class="submit" data-dismiss="modal">确认</button>
                            <button type="button" data-dismiss="modal">取消</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
